#beans-section{
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-margin-top: 3rem;
}

.bean-margin{
    margin-top: 8rem;
}

.beans-content{
    width: 90%;
    margin: auto;
    top: 10rem;
    left: 0;
    right: 0;
}

.beans-text h2{
    font-weight: 600;
    color: white;
    font-size: var(--h2-font-size);
}

.green-profile{
    color: var(--main-color);
}

.red-profile{
    color: #c41548;
}

.beans-text h4{
    font-size: var(--h4-font-size);
    line-height: var(--line-heigh);
}
.beans-text p {
    color: RGBA(255,255,255,0.67);
}

.beans-text{
    width: 48%;
    margin-right: 3%;
    animation: fade-in 1s ease-in-out;
}

.buy-now-btn{
    padding: 8px 3rem;
}

.buy-now-btn:hover{
    background-color: var(--main-color);
    color: white;
}

.ethiopia-buy{
    border: 3px solid #c41548;
    color: #c41548;
    font-size: var(--h4-font-size);
    white-space: nowrap;
    padding: 8px 3rem;
}

.ethiopia-buy:hover{
    background-color: #c41548;
    color: white;
}

.beans-btn{
    border: 3px solid var(--main-color);
    color: var(--main-color);
    font-size: var(--h4-font-size);
    white-space: nowrap;
}

.swiper-buttons{
    bottom: 2rem;
    margin: auto;
    left: 0;
    right: 0;
}

.swipe-btn{
    padding: 7px 1rem;
}

.next-buttons button{
    color: white;
    background-color: var(--main-color);
}

.selected-country-bg{
    background-color: var(--main-color);
    color: white;
}

.forward-btn{
    position: absolute;
    right: 0;
    top: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 6px;  
}

.back-btn{
    position: absolute;
    left: 0;
    top: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 6px;
    padding-right: 10px;
}

.buy-coffee-now{
    padding: 30px 20px;
    background-color: var(--main-color);
}

.buy-coffee-now div img{
    width: 3rem;
    height: 3rem;
}

.buy-coffee-now h4{
    color: white;
}

.buy-coffee-now button{
    background-color: black;
    color: var(--main-color);
    padding: 10px 20px;
    width: 12rem;
}

.buy-coffee-now button:hover{
    background-color: transparent;
    color: white;
    border: 3px solid white;
}

@keyframes fade-in {
    from {
        background-color: var(--main-color);
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: transparent;
    }
  }

@media screen and (max-width: 769px) {

    .beans-content{
        flex-wrap: wrap;
    }

    .beans-text{
        order: 2;
        width: 80%;
        text-align: center;
        margin-bottom: 6rem;
    }

    .beans-img{
        order: 1;
        max-width: 35%;
    }

    .beans-img img{
        width: fit-content;
        height: fit-content;
    }

    .buy-now-btn{
        padding: 8px 5rem;
    }

    .swipe-btn{
        font-size: 16x;
        padding-left: 10px;
        padding-right: 10px;
    }

    .next-buttons{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .swipe-btn{
        font-size: 14px;
    }
}