#cafe-section{
    scroll-margin-top: 3rem;
}

.address-section{
    background-color: var(--main-color);
    padding: 3.5rem 0;
}

.address-section h4{
    font-size: var(--h4-font-size);
    font-weight: 600;
    color: black;
}

.address-section p{
    color: white;
    font-weight: 600;

}

.cafe-shop-images{
    background-color: #D8D9CF;
}

.shop-images{
    width: 90%;
    height: 22rem;
}

.shop-images img{
    height: 22rem;
    width: 100%;
}

.cafe-shop-images .shop-images-buttons button{
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    padding: 10px 10px 10px 10px;
    box-shadow: none;
    border: 0px solid RGBA(0,0,0,1);
    border-radius: 5px;
}

.shop-images-buttons .next-shop-img-btn{
    position: absolute;
    right: 3%;
    top: 49%;
    color: white;
}

.shop-images-buttons .prev-shop-img-btn{
    position: absolute;
    left: 3%;
    top: 59%;
    color: white;
}