.card-div{
    width: 90%;
}

.shop-padding{
    margin: auto;
    padding-top: 6rem;
    background-color: #F1F6F9;
    padding-bottom: 3rem;
}

.card-section-padding{
    padding-bottom: 5rem;
}

.products-card{
    height: 24rem;
    background-color: white;
}

.products-card .img-div img{
    width: 90%;
    height: 18rem;
    margin: auto;
    padding-top: 5%;
}

.product-title{
    font-size: var(--h4-font-size);
    color: var(--secondary-color-dark-brown);
    padding-top: 15px;
    font-weight: 700;
}

.product-price{
    color: var(--main-color);
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.swiper-btn-div button{
    padding: 5px;
    border-radius: 50%;
    background-color: var(--secondary-color-dark-brown);
}

.selected-btn{
    background-color: var(--main-color) !important;
}

.slide-btn{
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .products-card{
        height: 35rem;
    }

    .products-card .img-div img{
        height: 25rem;
    }
}

@media screen and (max-width: 1024px) {
    .card-div{
        width: 80%;
    }

    .products-card .img-div img{
        width: 90%;
        height: 28rem;
    }
}