@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Roboto+Mono:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.name-title{
    display : none;
}

:root{
    --main-color:#1fc6ac;
    --secondary-color-dark-brown: #3c3c3b;
    --secondary-color-light-brown: #7e7e7e;
    --secondary-color-black: #2f2f2f;
    --line-height: 1.2;
    --h4-font-size: 24px;
    --h2-font-size: 2.6rem;
}

h2, h3, h1, span{
    font-family: 'Quicksand', sans-serif;
}

p{
    font-family: 'Roboto Mono', monospace;
}

.section-margin{
    scroll-margin-top: 4rem;
    margin: 8rem auto 8rem auto;
}
